<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="with-device-width, initial-scale=1.0">
    <title>Spam Text Classification</title>
</head>

<body>
    <div>
        <form action="http://localhost:5000/Label" method="POST">
            <p>
                Please Enter Massage Body
            </p>
            <input type="text" name="Data" />

            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>
</body>

</html>